
@{
    ViewBag.Title = "MeettheTeam";
}

<style>
     /*KAZDAGLIS*/ 
    #kazda {
        position: fixed;
        right: -16%;
        bottom: 0;
        width: 186px;
        height: 255px;
    }
</style>

@Styles.Render("~/Content/MeettheTeam.css")
<link href="~/Content/LoggedDataStyle.css" rel="stylesheet" />
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css' >
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css' >


<body>
 
    <section>

        <div class="embiggen">Our Team</div>
        <div id="first"></div>
        <div class="row">
            <div class="containers col-lg-6 col-md-6">

                <div class="pic" id="Anestis"></div>


            </div>


            <div id="one" class="col-md-4 manage-text-aligner" style="padding-bottom:50px"></div>

        </div>
        <div id="second"></div>
        <div class="row">
            <div class="containers col-lg-6 col-md-6">

                <div class="pic" id="Gerogiannis"></div>


            </div>
            <div id="two" class="col-md-4 manage-text-aligner" style="padding-bottom:50px"></div>

        </div>
        <div id="third"></div>
        <div class="row">
            <div class="containers col-lg-6 col-md-6">
                <div class="pic" id="Koronaios"></div>




            </div>
            <div id="three" class="col-md-4 manage-text-aligner" style="padding-bottom:50px"></div>
        </div>

        <div id="fourth"></div>
        <div class="row">
            <div class="containers col-lg-6 col-md-6">
                <div class="pic" id="Kannelos"></div>


            </div>
            <div id="four" class="col-md-4 manage-text-aligner" style="padding-bottom:50px"></div>

        </div>
        <div id="fifth"></div>
        <div class="row">
            <div class="containers col-lg-6 col-md-6">

                <div class="pic"></div>


            </div>
            <div id="five" class="col-md-4 manage-text-aligner" style="padding-bottom:50px"></div>


        </div>
        
    </section>
</body>
