@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<link href="~/Content/error404.css" rel="stylesheet" />
<script src="~/Content/error404.js"></script>
<div class="container">

    <span data-number="ERROR:" class="randomize">ERROR</span>
    </br>
    <span data-number="404" class="randomize">ERROR </span>
    </br>
    <span data-number="We lost your page.Sorry!:(" class="randomize">ERROR</span>
</div>
