/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wishlist-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.wishlist-icon:hover {
    color: red;
    cursor: pointer;
}

#notifications {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
}

#notifications .alert {
    margin-bottom: 0;
}